* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #333;
}

.opening {
    height: 100vh;
    width: 100%;
    position: relative;
}

.title * {

    margin: 0;

}

.opening img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
}

.opening .title {
    margin: 0;
    position: absolute;
    top: 50%;
    right: 10%;
    z-index: 2;
    width: 60%;
    font-family: Lora;
    transform: translateY(-30%);
}


.opening .title h1 {
    font-size: 4rem;
    line-height: 1;
    text-align: right;
    text-shadow: 0 0 3px #f2eeee;
}

.opening .title p {

    margin-top: 1rem;
    font-size: 1.5rem;
    text-align: right;
}

.opening .title p span {

    background-color:#f2eeee;
    line-height: 1.5;
    font-style: italic;
}


.text {
    margin: 0 auto;
    max-width: 580px;
    font-size: 1.3em;
    font-family: Lora;
    line-height: 1.5;
    margin-top: 2rem;
}

blockquote {
    font-weight: 500;
    background-color: #f2eeee;
    padding: .5em;
    /*box-shadow: 6px 6px 6px darkgrey;*/
    background: linear-gradient(-45deg, #333 .5em, #f2eeee .5em, #f2eeee calc(100% - .5em), #333 .5em);
    border: 3px solid #333;
}

strong.quote-author {
    background-color: #f2eeee;
    font-weight: 500;
}


address {
    margin-top: 4rem;
    text-align: center;
}

hr {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.section-fotos h2 {
    margin-bottom: 0;
}

.autor-fotos {
    margin-top: 0;
    font-style: italic;
}

.galeria {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    grid-template-areas: 
    "juscelino juscelino"
    "glory por-do-sol-vermelho"
    "estrela bandeira"
    "arco-iris bandeira"
    "torre-tv camara"
    "torre-tv crepusculo"
    "arco-iris-chuva nuvens-alta"
    "torre-vermelha nuvens-alta"
    "santo crepusculo-fogo";
}

.galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.foto-juscelino { grid-area: juscelino;}
.foto-por-do-sol-vermelho { grid-area: por-do-sol-vermelho;}
.foto-glory { grid-area: glory;}
.foto-arco-iris { grid-area: arco-iris;}
.foto-estrela { grid-area: estrela;}
.foto-bandeira { grid-area: bandeira;}
.foto-camara { grid-area: camara;}
.foto-torre-tv { grid-area: torre-tv;}
.foto-crepusculo { grid-area: crepusculo;}
.foto-arco-iris-chuva { grid-area: arco-iris-chuva;}
.foto-nuvens-alta { grid-area: nuvens-alta;}
.foto-torre-vemerlha { grid-area: torre-vermelha;}
.foto-santo { grid-area: santo;}
.foto-crepusculo-fogo { grid-area: crepusculo-fogo;}



@media (max-width: 600px) {

    .opening .title {
        width: 80%;
        top: 50%;
        transform: translateY(-50%);

    }

    .text {
        padding: .5em;
    }
}